
.main{
    text-align: center;
    justify-content: center;
    display: block;
}


.container{
    text-align: center;
    background-color: lightblue;
    margin: 8rem;
    padding: 20px ;
    width: fit-content;
    justify-content: space-between;
  
   
}

h1{
    text-decoration: solid  underline white;
    margin: 40px;
}

